data
data.zip
wav2vec2-emotion-model
# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Virtual environment
/venv/
/env/
.venv/
.env/

# IDE / Editor specific
.vscode/

# 数据文件
*.wav
*.json

# 模型文件
*.pt
*.safetensors

# 图片文件
*.jpg
*.jpeg
*.png
*.gif